<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MK SPARTANAC</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Style1.css">
</head>
<body style="background-image: url('@Url.Content("~/images/img31.jpg")')">
    <nav class="navbar navbar-default" style="background: #fdeceb; border-color: #fdeceb; margin-top: -50px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header mynav-xs">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar text-center"></span>
                    <span class="icon-bar text-center"></span>
                    <span class="icon-bar text-center"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><img class="img-sparta" src="~/images/demo2.png" style="width:33px; margin-right:5px;" /></li>
                    <li>@Html.ActionLink(@User.Identity.Name, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            MOTOR
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="background-color:#d43f3a!important;">
                            <li>@Html.ActionLink("MOJ MOTOR", "Index2", "Bike", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("SVI MOTORI", "Index", "Bike", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            DOGADjAJI
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="background-color:#d43f3a!important;">
                            <li>@Html.ActionLink("MOJE POSETE", "Index2", "Event", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("SVE POSETE", "Index", "Event", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("SVI DOGAĐAJI", "Index", "Event1", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("MAPA", "Maps", "Event", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                    </li>
                    <li class="font-size-14">@Html.ActionLink("SVI ČLANOVI", "Index", "MemberList", new { area = "" }, new { @class = "navbar-brand" })</li>
                    @if ((bool)Session["Admin"])
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                NALOG
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="background-color:#d43f3a!important;">
                                <li>@Html.ActionLink("DODAJ", "Add", "Login", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("DODELI", "Add2", "Login", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("OBRIŠI", "ShowAll", "Login", new { area = "" }, new { @class = "navbar-brand" })</li>
                            </ul>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Logout", "Auth")">IZLOGUJ SE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
        @RenderBody()
        <hr style="margin-top:-20px;"/>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

<script type="text/javascript">
    initializeThisMap('<%= propLat %>', '<%= propLan %>');
    $(window).on('load', function () {
        $('#myModal').modal('show');
    });
    $(".clear-btn").click(function () {
        $("#search").val('');
    });
</script>