@{
    ViewBag.Title = "Layout_Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MK SPARTANAC</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Style1.css">
</head>
<body style="background-image: url('@Url.Content("~/images/yamaha.png")');background-size:cover;background-repeat: no-repeat;background-position: center center;">
    <div class="container body-content">
        
        @RenderBody()
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
        <footer style="position: fixed; bottom:0;left:0;text-align:center; width:100%;">
            <p style="color:white;background:rgba(1, 0, 14, 0.7); width: 300px; margin-left: auto; border-radius: 5px; margin-right: auto;">&copy; @DateTime.Now.Year - MK "Spartanac" Sremska Mitrovica</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

<script type="text/javascript">
    $(window).on('load', function () {
        $('#myModal').modal('show');
    });
</script>